@{
    ViewData["Title"] = "首页";
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>校园知识共享平台----首页</title>

    <meta name="keywords" content="">
    <meta name="description" content="">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="~/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css?v=4.1.0" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close">
                <i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs" style="font-size:20px;">
                                        <i class="fa fa-area-chart"></i>
                                        <strong class="font-bold">CKSP</strong>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="logo-element">
                            校园知识共享平台系统
                        </div>
                    </li>
                    <li>
                        <a class="J_menuItem" href="index_v1">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">主页</span>
                        </a>
                    </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span class="ng-scope">课程分类</span>
                    </li>
                    <li id="li" style="background: #131e26;border-left: 4px solid #19a9d5;">
                        @*<a class="findInstitute" href="#"><i class="fa fa-desktop"></i> <span class="nav-label">信息工程学院</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#">计算机科学与技术专业 <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li>
                            <a class="J_menuItem" href="/Course/Index">课程列表</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#">软件工程专业 <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li>
                            <a class="J_menuItem" href="/Course/Index">课程列表</a>
                        </li>
                    </ul>
                </li>
            </ul>*@

                    </li>
                    <li class="line dk"></li>
                    <li>
                        <a data-toggle="modal" href="#modal-form" class="button">添加专业信息</a>
                    </li>
                    <li class="line dk"></li>
                    <li>
                        <a data-toggle="modal" href="#modal-form1" class="button">添加学院</a>
                    </li>
                    <li class="line dk"></li>
                    <li>
                        <a data-toggle="modal" href="http://localhost:5000/Files/Index" class="button">审核上传资料</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="modal-form" class="modal fade" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-9 b-r">
                                <h3 class="m-t-none m-b">添加专业信息</h3>
                                <div class="form-group">
                                    <label>专业名：</label>
                                    <input type="text" id="majorName" placeholder="专业名称" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>所属学院：</label>
                                    <input type="text" id="instituteId" placeholder="学院编号" class="form-control">
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        所属学院编号对应列表
                                        <span class="caret"></span>
                                    </button>
                                    <ul id="ulInstitute" class="dropdown-menu " aria-labelledby="dropdownMenu1"></ul>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" id="btnSaveMajor" type="button">
                                        <strong>保存</strong>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="modal-form1" class="modal fade" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-9 b-r">
                                <h3 class="m-t-none m-b">添加学院信息</h3>
                                <div class="form-group">
                                    <label>学院名：</label>
                                    <input type="text" id="instituteName" placeholder="学院名称" class="form-control">
                                </div>                               
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" id="btnSaveInstitute" type="button">
                                        <strong>保存</strong>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-info " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                            <div class="form-group">
                                <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li class="m-t-xs">
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="~/img/a7.jpg">
                                        </a>
                                        <div class="media-body">
                                            <small class="pull-right">46小时前</small>
                                            <strong>小四</strong> 是不是只有我死了,你们才不骂爵迹
                                            <br>
                                            <small class="text-muted">3天前 2014.11.8</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="~/img/a4.jpg">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right text-navy">25小时前</small>
                                            <strong>二愣子</strong> 呵呵
                                            <br>
                                            <small class="text-muted">昨天</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a class="J_menuItem" href="mailbox.html">
                                            <i class="fa fa-envelope"></i> <strong> 查看所有消息</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="J_menuItem" data-toggle="dropdown" href="/User/Index">
                                <i class="fa fa-user"></i> 
                            </a>
                            @*<ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="mailbox.html">
                                        <div>
                                            <i class="fa fa-envelope fa-fw"></i> 您有16条未读消息
                                            <span class="pull-right text-muted small">4分钟前</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="profile.html">
                                        <div>
                                            <i class="fa fa-qq fa-fw"></i> 3条新回复
                                            <span class="pull-right text-muted small">12分钟钱</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a class="J_menuItem" href="notifications.html">
                                            <strong>查看所有 </strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>*@
                        </li>
                        <li class="dropdown">
                            @*<i class="fa fa-close"></i>*@
                            <a class="J_menuItem" data-toggle="dropdown" href="/Login/Index">
                                <i class="fa fa-close"></i>
                            </a>
                        </li>


                    </ul>
                </nav>
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe id="J_iframe" width="100%" height="100%" frameborder="0" data-id="index_v1.html" seamless></iframe>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>

    <!-- 全局js -->
    <script src="~/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/js/plugins/layer/layer.min.js"></script>

    <!-- 自定义js -->
    <script src="~/js/hAdmin.js?v=4.1.0"></script>
    <script type="text/javascript" src="~/js/index.js"></script>

    <!-- 第三方插件 -->
    <script src="~/js/plugins/pace/pace.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#loading-example-btn').click(function () {
                btn = $(this);
                simpleLoad(btn, true)

                // Ajax example
                //                $.ajax().always(function () {
                //                    simpleLoad($(this), false)
                //                });

                simpleLoad(btn, false)
            });
        });
        f_RefreshInstitute();
        f_RefreshInstitutes();

        function f_RefreshInstitute() {
            $.ajaxSettings.async = false;//ajax同步
            $.get('FindInstituteList', function (data) {
                var data = eval(data);
                var str;
                var totalStr;
                for (var i = 0; i < data.length; i++) {
                    str = "<a href=\"#\">" + "<i class=\"fa fa-desktop\"></i>" + "<span class=\"nav-label\">" + data[i].instituteName + "</span>" + "<span class=\"fa arrow\"></span>" + "</a>";
                    var id = data[i].instituteId;
                    var longStr = "";
                    $.get('FindMajorList?instituteId=' + id, function (majorData) {
                        var majorData = eval(majorData);
                        var majorStr;
                        for (var j = 0; j < majorData.length; j++) {
                            majorStr = "<ul class=\"nav nav-second-level\">" +
                                "<li>" +
                                "<a href=\"#\">" + majorData[j].majorName + "<span class=\"fa arrow\">" + "</span>" + "</a>" +
                                "<ul class=\"nav nav-third-level\">" +
                                "<li>" +
                                "<a class=\"J_menuItem\" href=\"/Course/Index?majorId=" + majorData[j].majorId + "\">课程列表</a>" +
                                "</li>" +
                                "</ul>" +
                                "</li>" +
                                "</ul>";
                            longStr = longStr + majorStr;
                        }
                    });
                    //alert(longStr);
                    totalStr = str + longStr;
                    //$(".li").after(totalStr);
                    $("#li").append(totalStr);
                }
            });
            $.ajaxSettings.async = true;//ajax异步
        }

        function f_RefreshInstitutes() {
            $.get('GetInstitute', function (data) {
                var data = eval(data);
                for (var i = 0; i < data.length; i++) {
                    var str = "<li>" + "<a href=\"#\">" + data[i].instituteId + "—" + data[i].instituteName + "</a>" + "</li>";
                    $("#ulInstitute").append(str);
                }
            });
        }

        $("#btnSaveMajor").click(function () {

            var major = new Object();

            major.majorName = $("#majorName").val();
            major.instituteId = $("#instituteId").val();
            alert(JSON.stringify(major));

            $.ajax({
                type: 'POST',
                url: "/Home/AddMajor",
                //data: JSON.stringify(course),
                data: {
                    majorName: $("#majorName").val(),
                    instituteId: $("#instituteId").val()
                },
                dataType: "JSON",
                //contentType: "application/json",
                success: function (result) {
                    alert(result.msg);                   
                },
                error: function (result) {
                    // layer.msg(ref.msg);
                }
            })

        });

        $("#btnSaveInstitute").click(function () {
            var institute = new Object();
            institute.instituteName = $("#instituteName").val();
            alert(JSON.stringify(institute));
            $.ajax({
                type: 'POST',
                url: "/Home/AddInstitute",
                //data: JSON.stringify(course),
                data: {
                    instituteName: $("#instituteName").val(),
                },
                dataType: "JSON",
                //contentType: "application/json",
                success: function (result) {
                    alert(result.msg);                   
                },
                error: function (result) {
                }
            })

        });

       

    </script>

</body>
</html>
