
@{
    ViewData["Title"] = "登录页面";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>校园知识共享平台—登录</title>
    <meta name="keywords" content="">
    <script src="~/js/jquery.min.js"></script>
    <meta name="description" content="">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/login.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

</head>
<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="m-t-md">登录校园知识共享平台</h3>

                <label><input type="radio" name="radio1" value="1" checked />老师</label>
                <label><input type="radio" name="radio1" value="2" />学生</label>
                <label><input type="radio" name="radio1" value="3" />管理员</label>

                <input type="text" class="form-control uname" id="username" placeholder="用户名(学工号)" />
                <input type="password" class="form-control pword m-b" id="password" placeholder="密码" />
                <a href="/Login/Forget">忘记密码了？</a> | <a href="/Login/Register">注册一个新账号</a>
                <button id="btnSave" class="btn btn-success btn-block">登录</button>
            </div>
        </div>
        <div class="signup-footer">
            <div class="pull-left">
                &copy; tjcu
            </div>
        </div>
    </div>

    <script type="text/javascript">
        if (window.top !== window.self) {
            window.top.location = window.location;
        }
        
        var selector;
        var value;
        //返回被选择radio的value属性值
        function whichRadioValueChecked(selector) {
            var rtn = "";
            selector.each(function () {
                //alert("111");
                if ($(this).prop("checked")) {
                    //alert("!!!");
                    rtn = $(this).attr("value");
                }
            });
            return rtn;
        }

        selector = $('input[type="radio"][name="radio1"]');

        selector.each(function () {
            $(this).change(function () {
                value = whichRadioValueChecked(selector);
            })
        });

        $(document).ready(function () {
            $("#btnSave").click(function () {             
                $.ajax({
                    type: 'GET',
                    url: '/Login/Login?userName=' + $("#username").val() + "&pwd=" + $("#password").val() + "&value=" + value,                   
                    dataType: 'Json',
                    success: function (result) {

                        if (result.code == 1) {
                            alert(result.message);
                            window.location.href = "/Home/Index";//页面跳转
                        } else {
                            alert(result.message);
                            window.location.href = "/Login/Index";
                        }

                    },
                    error: function (ref) {

                    }
                })
            })

        })


    </script>
</body>
</html>


