
@{
    ViewData["Title"] = "个人信息";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>校园知识共享平台—个人信息</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="~/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>个人资料</h5>
                    </div>
                    <div class="userInfo">
                        @*<div class="ibox-content profile-content">
                            <h5>关于我</h5>
                            <div class="form-group">
                                <label>账号：</label>
                                <span>20174793</span>
                            </div>
                            <div class="form-group">
                                <label>密码：</label>
                                <input type="password" id="password" value="12345" style="border:0;outline:none;" readonly="readonly">
                            </div>
                            <div class="form-group">
                                <label>电话：</label>
                                <span>20174793</span>
                            </div>
                            <div class="form-group">
                                <label>年龄：</label>
                                <span>20174793</span>
                            </div>
                            <div class="form-group">
                                <label>性别：</label>
                                <span>20174793</span>
                            </div>                      
                            <div class="user-button">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-pencil"></i> 修改密码</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-pencil"></i> 完善个人信息</button>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                @*<div class="panel-body">
                <div class="tab-content">*@
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>上传资料文件</h5>
                    </div>
                    <div class="fileInfo">
                        <div class="ibox-content profile-content">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>状态</th>
                                        <th>标题</th>
                                        <th>上传时间</th>
                                        <th>分类</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 全局js -->
    <script src="~/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/js/bootstrap.min.js?v=3.3.6"></script>

    <!-- 自定义js -->
    <script src="~/js/content.js?v=1.0.0"></script>

    <!-- Peity -->
    <script src="~/js/plugins/peity/jquery.peity.min.js"></script>
    <!-- Peity -->
    <script src="~/js/demo/peity-demo.js"></script>
    <script>
        $(document).ready(function () {
            $('#loading-example-btn').click(function () {
                btn = $(this);
                simpleLoad(btn, true)

                // Ajax example
                //                $.ajax().always(function () {
                //                    simpleLoad($(this), false)
                //                });
                simpleLoad(btn, false)
            });
            
            f_RefreshUserInfo(userRole, username);
            f_RefreshFilesInfo(username);

        });
         @{ var username = CurrentUser.UserName;
             var userRole = CurrentUser.UserRole;}
                var username = "@username";
                var userRole = "@userRole";

        //console.log(username + userRole);

        function f_RefreshUserInfo(userRole, username) {
            $.get('ShowUserInfo?userRole=' + userRole + '&username=' + username, function (data) {
                var data = eval(data);
                //console.log(data);
                var str = "";
                if (userRole == "1") {
                    str = "";
                }
                if (userRole == "2") {
                    str ="";
                }
                if (userRole == "3") {
                    str = " <div class=\"ibox-content profile-content\">"+
                        "<h4>关于我</h4>" +
                        "<div class=\"form-group\">"+
                            "<label>账号：</label>"+
                        "<span>" + data.adminName+"</span>"+
                        "</div>"+
                        "<div class=\"form-group\">"+
                            "<label>密码：</label>"+
                        "<input type=\"password\" id=\"password\" value=\"123456\" style=\"border:0;outline:none;\" readonly=\"readonly\" > " +                            
                        "</div>"+
                        "<div class=\"form-group\">"+
                            "<label>电话：</label>"+
                        "<span>" + data.phoneNumber+"</span>"+
                        "</div>" +
                        "<div class=\"form-group\">" +
                        "<label>年龄：</label>" +
                        "<span>" + data.adminAge + "</span>" +
                        "</div>" + 
                        "<div class=\"form-group\">" +
                        "<label>性别：</label>" +
                        "<span>" + data.adminSex + "</span>" +
                        "</div>" + 
                            "<div class=\"user-button\">"+
                            "<div class=\"row\">"+
                                "<div class=\"col-sm-6\">"+
                                    "<button type=\"button\" class=\"btn btn-primary btn-sm btn-block\">"+"<i class=\"fa fa-pencil\"></i>修改密码</button>"+
                                "</div>"+
                                    "<div class=\"col-sm-6\">"+
                                    "<button type=\"button\" class=\"btn btn-default btn-sm btn-block\">"+"<i class=\"fa fa-pencil\"></i>完善个人信息</button>"+
                                "</div>"+
                            "</div>"+
                        "</div>"+
                    "</div>";
                }
                //console.log(str);
                $(".userInfo").append(str);
                
            });
        }

        function f_RefreshFilesInfo(username) {
            $.get('UserFilesInfo?username=' + username, function (data) {
                var data = eval(data);
                console.log(data[0]);
                for (var i = 0; i < data.length; i++) {
                    //console.log(data[0].fileName);
                    var str = "<tr>" +
                        "<td>" +
                        "<span class=\"label label-primary\"><i class=\"fa \"></i>" + data[i].statusStr + "</span>" +
                        "</td>" +
                        "<td>" +
                        "<a href=\"javascript: void (0);\" onclick =\"f_skipFiles('" + data[i].fileURL.replace(/\\/g, '-') + "')\">" + data[i].fileName + "</a>" +
                        "</td>" +
                        "<td>" +
                        data[i].fileTimeStr +
                        "</td>" +
                        "<td>" +
                        data[i].fileName.split(".")[1] +
                        "</td>" +
                        "<td>" +
                        " <a href=\"javascript: void (0); \" onclick =\"f_DeteFile(" + data[i].fileId + ")\" class=\"btn btn-white btn-sm\"><i class=\"fa fa-pencil\"></i> 删除 </a>" +
                        "</td>" +
                        "</tr>";
                    //onclick ="f_FindCourse(${data[i].courseId})"
                    $(".tbody").append(str);
                }
            });
        }

        function f_DeteFile(fileId) {
            alert("delet:" + fileId);
            $.ajax({
                type: 'DELETE',
                url: '/Files/Detefile?fileId=' + fileId,
                dataType: 'Json',
                success: function (result) {
                    alert(result.msg);
                    //f_Refresh();
                },
                error: function (result) {
                    alert(result.msg);
                }
            })
        }
    </script>


</body>
</html>

